body {
  // font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
  // 'Helvetica Neue', Arial, sans-serif;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 0.875rem;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

small {
  color: $elephant;
  display: block;
  font-size: 85%;
}
