body {
  // font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
  // 'Helvetica Neue', Arial, sans-serif;
  font-family: Lato, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 0.875rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;

  &.w-300 {
    font-weight: 300;
  }
}
